.radio-cont {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.radio-cont p {
    font-size: 17px;
}

.radio-cont input {
    width: 15px;
}

.bottom-part {
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: row-reverse;
}

.dict-title-p {
    font-size: 20px;
    font-weight: 600;
}

.dict-lang {
    font-size: 1px;
}

.dict-entries {
    font-size: 15px;
}