.language-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border: var(--field-border);
    border-bottom: none;
    background-color: #F7FCFE;
    border-top-right-radius: var(--field-rounding);
    border-top-left-radius: var(--field-rounding);
    text-align: center;
    width: 100%;
    height: min-content;
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.language-variants {
    background-color: transparent;
    font-size: 20px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #5F6B6D;
}

.active {
    color: #3A9ABC;
    border-bottom: 1px solid #3A9ABC;
}

.all-l-types {

}

.active-language {

}