:root {
    --field-rounding: 20px; 
    --field-border: 2px solid #E7EAE5;
    --field-focus-border: 2px solid #02ccfe;
}

.text-inout-conteiner {
    display: inline-flex;
    flex-direction: column;
    width: 500px;
    height: min-content;
    overflow: hidden;
    border-bottom-right-radius: var(--field-rounding);
    border-bottom-left-radius: var(--field-rounding);
    border-top-right-radius: var(--field-rounding);
    box-shadow: 3px 2px 2px gainsboro;
}

.language-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border: var(--field-border);
    border-bottom: none;
    background-color: #F7FCFE;
    border-top-right-radius: var(--field-rounding);
    border-top-left-radius: var(--field-rounding);
    text-align: center;
    width: 100%;
    height: min-content;
}

.languages {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.language-variants {
    background-color: transparent;
    font-size: 20px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #5F6B6D;
}

.active {
    color: #3A9ABC;
    border-bottom: 1px solid #3A9ABC;
}

.all-l-types {

}

.active-language {

}

textarea {
    width: 100%;
    border-radius: 0px;
    border: var(--field-border);
    border-bottom-right-radius: var(--field-rounding);
    border-bottom-left-radius: var(--field-rounding);
    padding: 10px 10px;
    resize: none;
    overflow-y: hidden;
}

textarea:focus {
    outline: none !important;
    border: var(--field-focus-border);
    box-shadow: 0 0 10px #719ECE;
}

.in-line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}