:root {
    --field-rounding: 20px; 
    --field-border: 2px solid #E7EAE5;
    --field-focus-border: 2px solid #02ccfe;
}

.text-inout-conteiner {
    display: inline-flex;
    flex-direction: column;
    width: 650px;
    height: min-content;
    overflow: hidden;
    border-radius: var(--field-rounding);
    box-shadow: 3px 2px 2px gainsboro;
    position: relative;
}

textarea {
    width: 100%;
    border-radius: 0px;
    border: var(--field-border);
    border-bottom-right-radius: var(--field-rounding);
    border-bottom-left-radius: var(--field-rounding);
    padding: 10px 10px;
    resize: none;
    overflow-y: hidden;
}

textarea:focus {
    outline: none !important;
    border: var(--field-focus-border);
    box-shadow: 0 0 10px #719ECE;
}

.in-line {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.extra-tool-bar {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 0 10px;
}