.translator-variants-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 75px;
    /* background-color: whitesmoke; */
    background-color: #d7efef;
    width: min-content;
    /* min-width: 500px; */
    padding: 10px 10px;
    border: 3px solid gainsboro;
    border-radius: 15px;
}

.logo {
    height: 50px;
    width: auto;
}

.active-translator {
    border-bottom: 2px solid #3A9ABC;
}