.base-conteiner {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.extra-conteiner {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items:center;
}

.inputs-conteiner {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items:baseline;
}

.list-to-add {
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
}

.list-to-add .p {
    margin: 20px 20px;
    font-size: 30px;
    font-weight: bold;
}

.extra-tools-bar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #fbf7ef;
    border: 2px solid lightgray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px 5px;
}

.translator-seloctor {
    background-color: transparent;
    border: none;
    border-radius: none;
    flex-direction: column;
    min-width: none;
    width: min-content;
    height: min-content;
    min-width: none;
    align-items: center;
}